---
import { Formatter } from "@/utils";
import MainLayout from "@/layouts/MainLayout.astro";
import CardCart from "@/components/CardCart.astro";
import { actions } from "astro:actions";

const { data: cart, error } = await actions.getCart.safe();
if(error || !cart) {
  return Astro.redirect('/')
}
console.log(cart);

const total = cart.reduce((acc, product) => acc + product.price * product.quantity, 0)

---

<MainLayout>
  <!-- component -->
  <section class="flex flex-col">
    <!-- My title card -->
    <div class="flex flex-col px-10 mt-2">
      <h1
        class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white text-center"
      >
        This is your <span class="text-blue-600 dark:text-blue-500">Cart</span>.
      </h1>
      <p
        class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400 text-center"
      >
        Here is your election of your products
      </p>
    </div>
    <!-- My Cart -->
    <section
      class="flex flex-col md:flex-row w-full h-full md:px-14 py-7 mb-10"
    >
      <div class="flex flex-col">
        {cart?.map((cart) => <CardCart itemCart={cart} />)}
      </div>

      <!-- Purchase Resume -->
      <div class="flex flex-col w-full md:w-2/3 h-fit gap-4 p-4">
        <p class="text-blue-900 text-xl font-extrabold">Purchase Resume</p>
        <div
          class="flex flex-col p-4 gap-4 text-lg font-semibold shadow-md border rounded-sm"
        >
          <div class="flex flex-row justify-between">
            <p class="text-gray-600">Subtotal</p>
            <p class="text-end font-bold">{Formatter.currency(total)}</p>
          </div>
          <hr class="bg-gray-200 h-0.5" />
          <div class="flex flex-row justify-between">
            <p class="text-gray-600">Impuesto</p>
            <div>
              <p class="text-end font-bold">$3.90</p>
              <p class="text-gray-600 text-sm font-normal">{Formatter.currency(total * 0.15)}</p>
            </div>
          </div>
          <hr class="bg-gray-200 h-0.5" />
          <div class="flex flex-row justify-between">
            <p class="text-gray-600">Total</p>
            <div>
              <p class="text-end font-bold">{Formatter.currency(total * 1.15)}</p>
            </div>
          </div>
          <div class="flex gap-2">
            <button
              class="transition-colors text-sm bg-blue-600 hover:bg-blue-700 p-2 rounded-sm w-full text-white text-hover shadow-md"
            >
              FINISH
            </button>
            <a href="javascript:history.back()"
              class="text-center transition-colors text-sm bg-white border border-gray-600 p-2 rounded-sm w-full text-gray-700 text-hover shadow-md"
            >
              ADD MORE PRODUCTS
            </a>
          </div>
        </div>
      </div>
    </section>
  </section>
</MainLayout>

