---
import Navbar from '@/components/shared/Navbar.astro';
import Footer from '@/components/shared/Footer.astro';
import {ViewTransitions} from 'astro:transitions';


interface Props {
  title?: string;
  description?: string
  image?: string
}

const { title = 'Astro Store' } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions/>
    <title>{title}</title>
  </head>
  <body>
    <Navbar />

    <main class="container mx-auto px-2 mt-36 min-h-screen">
      <slot />
    </main>

    <Footer />
  </body>
</html>
